.about {
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-position: center;
    display: flex;
    
    .img-about {
        
        width:33%;
        margin-bottom:30px;     

        img {
            width:100%;
            padding-top:110px;
            margin-left:-23%;

            @media (max-width:991px) {
                padding-top:80px;
            }
        }
    }
    .about-text {
        width:66%;
        .about-header {
            font-size: 56px;
            width:100%;
            padding-top:35%;
            
            font-family: 'Gilroy-Bold';

            @media (max-width:991px) {
                font-size:32px;
            }

            @media (max-width:460px) {
                font-size:24px;
                margin-top:60px;
                width:100%;
            
            }
                
        }
    }
}

.about-history {
    position: relative;

    .about-history-header {
        background-color: #FFB92C;
        text-align: center;
        font-size: 32px; 
        margin-top:3%;
        padding-top:1%;
        padding-bottom:1%;
        margin-bottom: 1%;
        font-family: 'Gilroy-Bold';
    
        @media (max-width:521px) {
            font-size:24px;
        }
    }

    .about-history-start {
        position: absolute;
        left:50%;
        transform: translate(-50%, 0%);
        color:#FFB92C;
        font-size:24px;
        padding:20px;
        z-index:902;
        background-color: #FFFFFF;

        @media (max-width:991px) {
            position: relative;
            text-align: center;
            width:100%;
            left:none;
        }

    }

    .about-history-container {
        display:flex;
        padding-left:5%;
        padding-right:5%;

        @media (max-width:991px) {
            display:block;
        }
        
        &.even-history {
            flex-direction: row-reverse;
        }

        &.odd-history {
            flex-direction: row;
        }

        .image_1 {
            position: absolute;
            width:34px;
            left:50%;
            margin-top:127px;

            @media (max-width:991px) {
                display:none;
            }

            &.even-img {
                left:47%;

                @media (max-width:1300px) {
                    left:46%;
                }
            }

            &.odd-img {
                transform:scale(-1,1);
                left:51%;
            }
        }

        .image_2 {
            position:absolute;
            width:25px;
            left:50%;
            margin-top:130px;
            transform: translateX(-55%);

            @media (max-width:991px) {
                display:none;
            }
        }

        .about-history-image-date {
            width:50%;
            position: relative;
            text-align:center;

            @media (max-width:991px) {
                width:100%;
                margin-top:40px;
            }

            &.even-image-date {
                border-left:3px solid grey;
                margin-right:7px;

                @media (max-width:991px) {
                    border:none;
                }
            }

            &.odd-image-date {
                border-right:3px solid grey;

                @media (max-width:991px) {
                    border:none;
                }
            }

            .about-history-img {
                width:70%;
            }

            .about-history-date {
                font-family:'Gilroy-Bold';
                font-size:48px;
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%, -50%);
            }
    
        }

        .about-history-text {
            width:50%;
            display:flex;
            align-items: center;
            justify-content: center;
            padding-left:8%;
            padding-right:8%;

            @media (max-width:991px) {
                width:100%;
                text-align:justify;
                margin-bottom:40px;
                padding-left:15%;
                padding-right:15%;
            }
            

            h4 {
                color:#000000;
                
                @media (max-width:460px) {
                    font-size:12px;
                }
                

                strong {
                    font-family:'Gilroy-Bold';
                    font-size:18px;
                }
            }
        }
        
        
    }

    .about-history-end {
        position: absolute;
        left:50%;
        transform: translate(-50%, -100%);
        color:#FFB92C;
        font-size:24px;
        padding:20px;
        z-index:902;
        background-color: #FFFFFF;

        @media (max-width:991px) {
            position: relative;
            text-align: center;
            width:100%;
            left:none;
            padding:0;
            font-size:32px;
            
        }
    }
}

.about-our {

    .about-our-header {
        background-color: #FFB92C;
        text-align: center;
        font-size: 32px; 
        margin-top:3%;
        padding-top:1%;
        padding-bottom:1%;
        margin-bottom: 1%;
        font-family: 'Gilroy-Bold';

        @media (max-width:521px) {
            font-size:24px;

        }
    }

    .about-all {
        margin-left:7.5%;
        margin-right: 7.5%;

        .about-our-values {
            display: flex;
            padding-bottom:40px;

            @media (max-width:991px) {
                flex-wrap: wrap;
                justify-content: center;
            }
            

            .about-our-value-border {
                padding-top:10px;
                padding-left:10px;
                padding-right:10px;
                width:20%;
                margin:auto;
                
                @media (max-width:1300px) {
                    width:23%;
                }
                @media (max-width:991px) {
                    width:80%;
                }
                

                .about-our-value-text {
                    width:auto;
                    background-color: #FFB92C;
                    text-align: center;
                    border: 3px solid #fff;
                    border-radius:20px;
                    color:#fff;
                    font-size:24px;
                    padding-top:5%;
                    padding-left:10%;
                    padding-right:10%;
                    padding-bottom:5%;
                    font-family: 'Gilroy-Bold';
                    width:100%;

                    @media (max-width:991px) {
                        margin:auto;
                    }
    
                    @media(max-width:521px) {
                        font-size:18px;
                        overflow:hidden;
                        }
                    }
                }
            
            }
            
        .about-our-description {
            color:#000000;
            margin-bottom: 5%;
            text-align: center;
            font-size:14px;
        }
    }
}

.about-want {
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-position: center;
    height: auto;

    .about-want-header {
        text-align: center;
        font-size: 48px;
        padding-top:10%;
        padding-bottom:10%;
        vertical-align:middle;
        line-height: auto;
        font-family: 'Gilroy-Bold';

        @media (max-width:521px) {
            font-size:32px;
        }
    }
}

.about-want-later  {
    margin-left:7.5%;
    margin-right: 7.5%;

    
    .about-want-values {
        display: flex;
        padding-bottom:40px;

        @media (max-width:991px) {
            flex-wrap: wrap;
            justify-content: center;
        }
        

        .about-want-value-border {
            padding-top:10px;
            padding-left:10px;
            padding-right:10px;
            width:20%;
            margin:auto;
                
            @media (max-width:1300px) {
                   width:23%;
            }
            @media (max-width:991px) {
                width:80%;
            }
            

            .about-want-value-text {
                width:auto;
                background-color: #FFB92C;
                text-align: center;
                border: 3px solid #fff;
                border-radius:20px;
                color:#fff;
                font-size:24px;
                padding-top:5%;
                padding-left:10%;
                padding-right:10%;
                padding-bottom:5%;
                font-family: 'Gilroy-Bold';
                width:100%;
                

                @media(max-width:521px) {
                    font-size:18px;
                    overflow:hidden;
                }
            }
        }
    }

    .about-want-value-1 {

        .about-want-value-1-header {
            color:#FFB92C;
            font-family: 'Gilroy-Bold';

            h4 {
                font-size:32px;
                margin-bottom:20px;
                margin-top:32px;

                @media (max-width:991px) {
                    text-align: center;
                }
            }
        }

        .about-want-value-1-desc {
            color:#000000;
            
            @media (max-width:991px) {
                text-align:justify;
            }
            p {
                font-size: 14px;
            }
        }
    }

    .about-want-value-2 {
        padding-bottom:20px;

        .about-want-value-2-header {
            color:#FFB92C;
            font-family: 'Gilroy-Bold';

            h4 {
                font-size:32px;
                margin-top:20px;
                margin-bottom:20px;

                @media (max-width:991px) {
                    text-align: center;
                }
            }
        }

        .about-want-value-2-desc {
            color:#000000; 

            @media (max-width:991px) {
                text-align:justify;
            }
            
            p {
                font-size:14px;
            }
        } 
    }

}

.about-certificate {

    .about-certificate-header {
        background-color: #FFB92C;
        text-align: center;
        font-size: 32px; 
        margin-top:3%;
        padding-top:1%;
        padding-bottom:1%;
        margin-bottom: 1%;
        font-family: 'Gilroy-Bold';
    }

    .about-certificate-img  {
        text-align: center;
        padding-top:1.5%;
        padding-bottom: 5%;
    }
}