.druk {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: grey;
    display:flex;
    position: relative;


    .img-druk {
        width:30%;
        margin-top:110px;
        margin-left:-5%;
        padding-bottom:15px;

        @media (max-width:991px) {
            margin-top:80px;
            
        }

    }

    .druk-header {
        font-size: 56px;
        font-family: 'Gilroy-Bold';
        width:70%;
        padding-left:2%;
        padding-top:300px;
        
        @media  (max-width:991px) {
            font-size:32px;
            padding-top:50%;
            transform: translateY(-40%);
        }

        @media (max-width:460px) {
            font-size:24px;
            padding-top:50%;
            transform: translateY(-25%);
            
        }
    }
}

.druk-content {
    background-color: white;
    color: #000000;
    display: flex;
    width:80%;
    margin:auto;
    margin-bottom:5%;
    padding-top:5%;

    @media (max-width:991px) {
        display:block;
    }

    .druk-content-image {
        width:50%;

        @media (max-width:991px) {
            width:100%;
        }

        img {
            max-width:680px;
            width:100%;
        }
    }

    .druk-content-text {
        font-size: 14px;
        width: 50%;
        line-height: 19px;
        margin-left:1%;

        @media (max-width:991px) {
            width:100%;
            text-align: justify;
            margin:0;
            padding-top:20px;
            padding-bottom:20px;
        }

        .druk-content-file {
            text-decoration: none;

            p {
                padding-top:15px;

                @media (max-width:991px) {
                    text-align:center;
                }
                
            }
        }

        
     }
}

