.mt-5 {

    .footer-box {
        background-color: #1A1A1A;
    }

    .footer-wrapper {
        display:flex;
        width:100%;
        padding-left:5%;
        padding-right:5%;

        @media (max-width:991px) {
            display:block;
        }

        .footer-column-1 {
            width:33%;
            padding-top:60px;

            @media (max-width:991px) {
                width:100%;
                text-align:center;
            }

            img {
                margin-bottom:15px;
            }

            .footer-content {
                em {
                    font-family:'Gilroy-Bold';
                    font-size:16px;
                }

                strong {
                    color:#FFB92C;
                    font-size:14px;
                }

                p {
                    font-size:14px;
                    margin-top:5px;
                }


            }
        }

        .footer-column-2 {
            width:25%;
            margin-top:60px;

            @media (max-width:991px) {
                width:100%;
                text-align:center;
            }

            li {
                margin-bottom:8px;
                a {
                    text-decoration: none;
                    color:#ffffff;
                    font-size:16px;
                    font-family:'Gilroy-Bold';

                }

                a:hover {
                    color:#FFB92C;

                }
            }
        }


        .footer-column-3 {
            width:40%;
            padding-top:60px;
            padding-bottom:60px;

            @media (max-width:991px) {
                width:100%;
                text-align:center;
                
            }

            h4 {
                font-size:16px;
                font-family:'Gilroy-Bold';
                margin-bottom:5px;
            }

            p {
                font-size:14px;
                
            }
        }



    }

    .under-footer {
        background-color: black;
        font-size: 14px;
        text-align: center;
        width: auto;
        height: 49px;
        position: relative;
        
        .designed-by {
            width:100%;
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            
        }
    }
}

