.container {
    background-color: rgba(128, 128, 128, 0.5);
    height:100px;
    position:fixed;
    width:100%;
    z-index:1000;
    box-sizing: border-box;

    @media (max-width:991px) {
        height:70px;
    }
    


    
    .main-nav {
        
        top:0;
        left:0;
        width:100%;

        @media (max-width:991px) {
            display:none;
        }

        .cart-and-toggleMenu {
            display: none;
        }
        
        .main-logo {
            
            line-height:135px;
            margin-left:5%;
        }

        .header__nav__menu__wrapper {
            float:right;
            padding-right:100px;

            ul {
                margin:0;
                
                display: flex;

                

                li {
                    list-style:none;
                    margin:0 20px;
                    padding:40px;

                    &.lang-item {
                      margin:0;
                      padding:40px 10px;
                    }


                    a {
                        
                        text-decoration: none;
                        font-family: 'Gilroy-Bold';
                        color:#FFFFFF;
                        font-size:18px;
                     }

                    a:hover {
                        color:#FFB92C;
                        cursor: pointer;
                    }

                    

                    .sub-menu {
                        position: absolute;
                        display:none;
                        top:100px;
                        background-color:rgba(128, 128, 128, 0.5);
                        
                        margin:0;
                        padding:0; 
                        margin-left:-10px;
                        
                        li {
                            height:40px;
                            padding:0;
                            margin:0 20px;
                            
                            a  {
                                line-height: 40px;
                                
                            }
                        }

                        &.active {
                            display:block;

                            
                        }

                        
                    }

                    .submenu.active &.menu-item-has-children:before {
                        border-bottom: 1px solid #FFB92C;
                        border-right: 1px solid #FFB92C;
                        transform: rotate(225deg);
                        margin-top: 8px;
                        transition: transform 0.3s;
                    } 

                    

                    &.menu-item-has-children:before {
                        content: '';
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 7px;
                        height: 7px;
                        display: inline-block;
                        border-bottom: 1px solid #fff;
                        border-right: 1px solid #fff;
                        transform: rotate(45deg);
                        float: right;
                        margin-left: 5px;
                        margin-top: 4px;

                    }
                }
        }
    }
    }

    .mobile-nav {
        display: none;
        

        @media (max-width:991px) {
            display:block;
            // height: 100%;
            // padding: 10px;

        }


            .mobile-logo {
                position: absolute;
                top:50%;
                transform: translateY(-50%);   
                padding-left:5%; 
            }
            .cart-and-toggleMenu {
                 position: absolute;
                 right:7%;
                 font-size:54px;
                 top:50px;
                 transform: translateY(-50%);

                @media (max-width:991px) {
                    transform:translateY(-80%);
                    font-size:36px;
                }
             }

            .mobile-nav--dropdown {
                margin-top:100px;
                background-color:rgba(128, 128, 128, 0.8);
                text-align: center;
                display:none;

                @media (max-width:991px){
                    margin-top:70px;
                }


                &.is-active {
                    display:block;
                }
                
                .mobile-nav--inside {

                    ul {
                        list-style:none;
                        padding-bottom:20px;

                        li {
                            padding:20px 20px;

                            &.lang-item {
                              display:inline;
                              padding:0 10px;
                              margin:0;
                              margin-bottom:30px;
                            }

                            &.menu-item-has-children:before {
                                content: '';
                                background-size: cover;
                                background-repeat: no-repeat;
                                width: 7px;
                                height: 7px;
                                display: inline-block;
                                border-bottom: 1px solid #fff;
                                border-right: 1px solid #fff;
                                transform: rotate(45deg);
                                float: right;
                                margin-left: 5px;
                                margin-top: 4px;
                            }

                            &.menu-item-has-children:hover {
                                &.menu-item-has-children:before {
                                    border-bottom: 1px solid #FFB92C;
                                    border-right: 1px solid #FFB92C;
                                    transform: rotate(225deg);
                                    margin-top: 8px;
                                    transition: transform 0.3s;
                                }
                            }
                            
                        }
                    }
                    a {
                        text-decoration: none;
                        font-family:'Gilroy-Bold';
                        font-size:18px;
                        color:#ffffff;
                        text-transform: lowercase;
                        
                    }

                    a:hover {
                        color:#FFB92C;
                    }

                    .sub-menu {
                        display: none;
                        flex-direction: column;

                        &.active {
                            display:block;
                        }
                        
                        
                    }

                    
                }
                    
            }
    }
}



