html {
    scroll-behavior: smooth;
}



.homepage {
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-position: center;
    display: flex;
    width:100%;
    background-color: #E6E6E6;
    position: relative;



    .img-homepage {
        width:30%;
        margin-top:110px;

        @media (max-width:991px) {
            margin-top:80px;
        }
        

        
        
        img {

            width:100%;
            margin-left:-50px;



        }

    }

    .text-homepage-top {
        width:70%;
        padding-top:15%;
        padding-bottom:15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        

        
        

        .header-homepage {
            font-size:56px;
            font-family: 'Gilroy-Bold';
            margin-left:-20%;
            width:70%;
            

            @media (max-width:991px) {
                font-size:32px;
            }

            @media (max-width:460px) {
                font-size:24px;
                margin-top:60px;
                margin-left:-35%;
                width:100%;
            }
            
            

        }

        .description-homepage {
            font-size:24px;
            line-height: 1.1;
            letter-spacing: 0px;
            width:70%;
            margin-left:-20%;
            padding-top:15px;

            @media (max-width:991px) {
                font-size:16px;
                width:70%;
                
            }

            @media (max-width:460px) {
                font-size:12px;
                width:100%;
                margin-left:-35%;
                padding-top:10px;
            }

            
            

        }
    }
    
    
}

.under-header {
    display: flex;
    width:100%;
    background-color: #E6E6E6;
    flex-wrap: wrap;



    .feature {
        text-align: center;
        width:25%;
        flex-shrink: 0;

        @media (max-width:991px) {
            width:50%;
        }

        @media (max-width:551px) {
            width:100%;
        }

        .feature-image {
            margin-top:15%;

            @media (max-width:991px) {
                margin-top:10%;
            }
            
            img {
                width:100%;
                max-width:125px;
            }
        }

        .feature-header {
            margin-top:5%;
            font-size:24px;
            font-family: 'Gilroy-Bold';
            padding-bottom:10px;

        }

        .feature-desc {
            margin-left: 10%;
            margin-right: 10%;
            font-size:14px;
            height: auto;
            margin-bottom: 10%;
        }
        
    }
}

.about-us {
    width:100%;
    background-color: #E6E6E6;
    

    .about-us-container {
        display:flex;
        position: relative;
        @media (max-width:991px) {
            display:block;
        }
        
       


   
        .about-us-img {
            position: absolute;
            z-index:2;

            &-relative {
                background-image: url(http://localhost:8000/wp-content/uploads/2020/07/Group-55.svg);
                height: 240px;
                width: 200px;
                bottom: 0;
                position: absolute;
                transform: translateY(50%) rotate(0);
                background-size: auto 100%;
                background-position: right center;
                overflow: hidden;

                @media (max-width:991px) {
                    display:none;
                }
            }
        }

        
        &:nth-of-type(even) {
            flex-direction:row-reverse;

            .about-us-img {
 
    
                &-relative {

                    transform: translateY(50%) rotate(180deg);
                    z-index:3;

                }
            }
    
        }

        .about-us-text {
            width:33.33%;
            color:#000000;
            padding-left:8%;
            padding-right:8%;

            @media (max-width:991px) {
                width:100%;
            }
            

            .about-us-header {
                font-size:24px;
                font-family: 'Gilroy-Bold';
                text-align: center;
                padding-top:30%;
                padding-bottom:5%;

                @media (max-width:991px) {
                    padding-top:10%;

                }
                

            }
    
            .about-us-desc {
                font-size: 14px;
                text-align:center;
                padding-bottom:40%;

                @media (max-width:991px) {
                    padding-bottom:15%;
                }

            }
        }
    
        .about-us-vid {
            width:66.66%;

            @media (max-width:991px) {
                width:100%;

            }
            

            .about-us-vid-container {
                position:relative;
                padding-bottom:56.25%;
                height:0;
                
                
                iframe {
                    position:absolute;
                    top:0;
                    left:0;
                    width:100%;
                    height:100%;
                }
            }

            
        }
    }
}

.questions {
    background-color: #000000;
    
    display: flex;
    width:100%;
    position:relative;
    z-index:3;
    

    @media screen and (max-width:1199px) {
        
    }

    @media screen and (max-width:991px) {
        
    }

    @media screen and (max-width:761px) {
        flex-wrap:wrap;
        
    }
    

    .questions-text {
        margin-top: 5%;
        width:44%;
        padding-left:10%;
        padding-right:10%;

        @media screen and (max-width:1199px) {
            width:50%;
        }
    
        @media screen and (max-width:991px) {
            width:60%;
            
        }
    
        @media screen and (max-width:761px) {
            margin-top:20px;
            width:100%;
            height:auto;
            text-align:center;
        }

        .questions-header {
            font-size: 24px;
            margin-bottom: 3%;
            font-family: 'Gilroy-Bold';
        }

        .questions-description  {
            font-size: 14px;
            padding-bottom:20px;
        }
    }

    .questions-profile {
        display: -webkit-box;
        width:auto;
        margin:auto;
        @media  (max-width:991px) {
            display:block;
            text-align:center;
        }
        @media screen and (max-width:761px) {
            margin-left:auto;
            margin-right:auto;
            margin-top:0;
            padding-bottom:20px;
        }

        .questions-profile-image {
            
            margin-right: 17%;

            @media (max-width:991px) {
                display:flex;
                justify-content: space-between;
                
            }

            @media screen and (max-width:761px) {
                margin-right:5%;
            }

            .img-1 {
                
            }

            .img-2 {
                margin-top:25%;

                @media (max-width:991px) {
                    margin-top:0;
                }
            }
        }

        .profile-info {
            
            width:100%;
            height:50%;
            margin:auto;

            .profile-title {
                font-size:16px;
                margin-bottom: 2%;
                font-weight: 500;
            }

            .profile-data {
                font-size:14px;

                margin-bottom: 2%;
                
                .link {
                    color: #FFB92C;
                    text-decoration: none;
                }
            }
        }
    }

}

.life {
    background-color: #E6E6E6;
    

    .life-img {
        position:absolute;
        z-index:0;
        width:100%;
        margin-top:75px;
        
        .life-img-in {
            margin-left:auto;
            margin-right:auto;
            width:50%;
            display: flex;
            align-items:center;
            
            

            img {
                margin-left:auto;
                margin-right:auto;

                width:100%;
                max-width:260px;
                
                @media (max-width:460px) {
                    max-width:150px;
                }
                
    
            }
        }
    }


    .life-text {
        position: relative;
        color: black;
        font-size: 60px;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        padding-top: 150px;
        font-family:'Gilroy-Bold';
        padding-bottom:150px;
        padding-left:10%;
        padding-right:10%;

        @media (max-width:991px) {
            font-size:48px;

        }

        @media (max-width:760px) {
            width:70%;
        }

        @media (max-width:460px) {
            font-size:32px;
            padding-top:80px;
            padding-bottom:80px;
            width:90%;
            margin:0;
            padding:100px 2%;
            
        }


    }
}

.last-one {
    
    background-color: grey;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

    .last-image {
        padding-top: 5%;
        padding-bottom:10px;

    }


    .last-header  {
        font-size: 24px;
        text-align: center;
        margin-bottom: 0.5%;
        padding-top: 0.1%;
        font-family: 'Gilroy-Bold';
        padding-bottom:10px;

    }

    .last-description {
        font-size: 14px;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        padding-bottom:40px;


    }

    

    .last-read-border:hover {
        cursor: pointer;

    }
    
    .last-arrow {

        @media (max-width:991px) {
            display:none;
        }

        .arrow-up {
            position:fixed;
            float:right;
            height:5%;
            width:5%;
            right:3%;
            bottom:3%;
            z-index: 10000;
            
            
        }
    }
}