.kontakt {
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-position: center;
    display: flex;

    .kontakt-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width:70%;
        
        

        .kontakt-header-text {
            font-family: 'Gilroy-Bold';
            font-size:56px;
            padding-top:22%;
            padding-left:10%;
            width:100%;
            
            @media (max-width:991px) {
                font-size:42px;
                
            }

            @media (max-width:460px) {
                font-size:32px;
                padding-top:40%;
                padding-left:0;
            }

            
        }
    }
    

    .kontakt-img {
        width:30%;
        margin-top:110px;
        margin-left:-30px;
        padding-bottom:10px;
        @media screen and (max-width:991px) {
            
            margin-top:80px;
            margin-left:-10px;

        }

        img {
            width:60%;
            
            

            
        }
    }
}

.kontakt-info {
    display:flex;
    margin-top:4%;
    margin-left:15%;
    margin-right:15%;

    @media screen and (max-width:1199px){
        
    }

    @media  screen and (max-width:991px) {
        
    }

    @media screen and (max-width:991px) {
        flex-direction: column;
        width:100%;
        align-items: center;
        margin-left:0;
        margin-right:0;
        text-align: center;
        
    }

    .kontakt-info-telefon {
        width:50%;
        display:flex;
        color:black;
        font-family:'Gilroy-Bold';
        padding-bottom:5%;

        @media screen and (max-width:991px) {
            width:50%;
            display:block;
            
        }

        .kontakt-info-telefon-img {
            @media (max-width:991px) {
                margin-bottom:10px;
            }
        }

        .kontakt-info-telefon-text {
            margin-left:5%;
            margin-top: -2%;

            .kontakt-info-telefon-text-desc {
                color:#AFAFAF;
                font-family: 'Gilroy-Bold';
                font-size: 24px;
                margin-bottom:6%;

                @media screen and (max-width:761px) {
                    font-size:18px;
                    
                }
            }

            p {
                color:black;
                font-size:24px;
                font-family: 'Gilroy-Bold';

                @media screen and (max-width:761px) {
                    font-size:18px;
                    
                }
                
            }
        }
    }

    .kontakt-info-mail {
        width:50%;
        display:flex;
        color:black;
        font-family: 'Gilroy-Bold';
        margin-bottom:5%;

        @media screen and (max-width:991px) {
            width:50%;
            display:block;
        }

        .kontakt-info-mail-img {
            width:auto;

            @media (max-width:991px) {
                margin-bottom:10px;
            }
        }

        .kontakt-info-mail-text {
            margin-left:5%;
            margin-top:-2%;
            
            .kontakt-info-mail-text-desc {
                color:#AFAFAF;
                font-family: 'Gilroy-Bold';
                font-size: 24px;
                margin-bottom:6%;
                width:60%;
                @media screen and (max-width:761px) {
                    font-size:18px;
                    width:100%;
                    
                }
            }

            p {
                color: black;
                font-size:24px;
                font-family: 'Gilroy-Bold';

                @media screen and (max-width:761px) {
                    font-size:18px;
                    margin-right:0px;
                    
                }

            }

            
        }
    }
}

.kontakt-form {
    display: flex;
    margin-left:auto;
    margin-right:auto;
    


    

    @media screen and (max-width:991px) {
        display:block;
        width:80%;
        justify-content: center;
        
        
    }
    

    .kontakt-form-formularz {
        width:66.6666%;
        margin-left:5%;
        padding-right:5%;
        margin-bottom:20px;
        
        

        @media screen and  (max-width:761px) {
            width:100%;
        }


        
        h2  {
            color:black;
            font-size:32px;
            font-family: 'Gilroy-Bold';
            margin-bottom:40px;


            @media screen and (max-width:991px) {
                font-size:24px;
                width:100%;
            }

        }

        .top {
            display:flex;
            margin-bottom:15px;

            @media (max-width:991px) {
                display:block;
            }

            .top-left {
                width:40%;
                margin-right:10%;

                @media (max-width:991px) {
                    width:100%;
                }

                label {
                    color:black;
                    font-size:24px;
                    font-family: 'Gilroy-Bold';
                    
                    @media (max-width:991px) {
                        font-size:18px;
                    }
                    
                }

                input {
                    margin-top:15px;
                    border-color:#FFB92C;
                    border-width:medium;
                    border-style:solid;
                    border-image:none;
                    width:100%;
                    padding-bottom:10px;
                    padding-top:10px;
                    font-size:24px;
                    font-family: 'Gilroy-Bold';

                    @media (max-width:991px) {
                        margin-bottom:5px;
                        font-size:18px;
                    }
                }

            }

            .top-right {
                width:60%;

                @media (max-width:991px) {
                    width:100%;
                }

                label {
                    color:black;
                    font-size:24px;
                    font-family: 'Gilroy-Bold';

                    @media (max-width:991px) {
                        font-size:18px;
                    }
                    
                }

                input {
                    margin-top:15px;
                    border-color:#FFB92C;
                    border-width:medium;
                    border-style:solid;
                    border-image:none;
                    padding-top: 10px;
                    padding-bottom:10px;
                    font-size:24px;
                    width:100%;
                    font-family: 'Gilroy-Bold';

                    @media (max-width:991px) {
                        
                        font-size:18px;
                    }
                }
            }
            
        }

        .bottom {
            margin-bottom:15px;

            label  {
                color:black;
                font-size:24px;
                font-family: 'Gilroy-Bold';

                @media (max-width:991px) {
                    font-size:18px;
                }
            }

            textarea {
                margin-top:15px;
                resize:none;
                border-color:#FFB92C;
                border-width:medium;
                width:100%;
                font-size:24px;
                font-family: 'Gilroy-Bold';

                @media (max-width:991px) {
                    font-size:18px;
                }
                        
                        
            }
        }

        p {
            input {
                float:right;
                border:none;
                background-color:#FFB92C;
                color:white;
                font-size:24px;
                font-family: 'Gilroy-Bold';
                padding:12px 105px;
                cursor: pointer;

                @media (max-width:991px) {
                    margin-bottom:20px;
                }
            }
        }
    }

    .kontakt-form-address {
        display: flex;
        width:33.3333%;
        margin-top:10px;
        margin-right:10%;
        @media screen and (max-width:991px) {
            width:100%;
            display:block;
            text-align:center;
        }
        

        .kontakt-form-address-img {
            margin-top:4%;
            margin-right:15%;

            @media screen and (max-width:991px) {
                margin-right:5%;
                margin-top:10%;
                
                
            }
        }

        .kontakt-form-address-data {

            h3 {
                color:black;
                font-size:24px;
                font-family:'Gilroy-Bold';
            }

            p {
                color:#AFAFAF;
                font-size: 18px;
            }

            img {
                margin-top:5%;
                height:195px;
                margin-bottom: 15%;
            }
        }
    }
}


// Media for phones
@media screen and (min-width:0px) {

}
// Media for small devices
@media screen and (max-width:768px) {
}
// Media for medium devices
@media screen and (min-width:992px) {
}
// Media for large devices
@media screen and  (min-width:1200px) {

}

.wpcf7-response-output {
    display: none !important;
}