.oprawa {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: grey;
    display:flex;
    position: relative;

    .img-oprawa {
        width:30%;
        margin-top:110px;
        margin-left:-5%;
        padding-bottom:15px;

        @media (max-width:991px) {
            margin-top:80px;
            
        }

    }

    .oprawa-header {
        font-size: 56px;
        font-family: 'Gilroy-Bold';
        width:70%;
        padding-left:2%;
        padding-top:300px;
        
        @media  (max-width:991px) {
            font-size:32px;
            padding-top:50%;
            transform: translateY(-40%);
        }

        @media (max-width:460px) {
            font-size:24px;
            padding-top:50%;
            transform: translateY(-25%);
            
        }
    }
}

.oprawa-lines {
    // position:sticky;
    
    @media (max-width:991px) {
        display:none;
    }
    
    
    .line {
        background-color: #FFB92C;
        margin-top:4%;
        width: auto;
        height: 63px;
        display: flex;
        font-size:14px;
        font-family: 'Gilroy-Bold';
        margin-bottom:5%;

        @media (max-width:991px) {
            flex-wrap:wrap;
        }
        

        .oprawa-line-case{
            width:auto;
            margin:auto;

            @media (max-width:991px){
                padding-bottom:5px;
            }
    
        }

        a {
            text-decoration: none;
            color:#FFFFFF;
            outline: none;
        }
    }
}

.oprawa-main {

    align-content: center;

    .oprawa-line {
        display: flex;
        margin-right:7%;
        margin-left:7%;

        @media (max-width:991px) {
            flex-wrap:wrap;
        }

        &.nieparzysta {
            @media (max-width:991px) {
                flex-wrap:wrap-reverse
            }
        }
    
        

        .oprawa-line-text {
            padding-top:50px;
            padding-left:20px;
            @media(max-width:991px) {
                padding-top:40px;
            }
            

            h3 {
                font-family: 'Gilroy-Bold';
                font-size:32px;
                color:#000000;
                margin-bottom:1%;
            }

            .oprawa-line-text-desc {
                font-size:14px;
                color:#000000;
                line-height: 1.15;

                @media (max-width:991px) {
                    text-align: justify;
                }

                p {
                    padding-bottom:20px;
                }

                strong {
                    font-family: 'Gilroy-Bold';
                    
                }
            }
        }

        .oprawa-line-img {
            width:40%;
            max-width:680px;

            @media (max-width:991px) {
                width:100%;
                max-width:460px;
            }
        }
    }
}

