.przygotowanie {
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: grey;
    display:flex;
    position: relative;

    .przygotowanie-header {
        font-size: 56px;
        font-family: 'Gilroy-Bold';
        width:70%;
        padding-left:2%;
        padding-top:300px;
        
        @media  (max-width:991px) {
            font-size:32px;
            padding-top:50%;
            transform: translateY(-40%);
        }

        @media (max-width:460px) {
            font-size:24px;
            padding-top:50%;
            transform: translateY(-25%);
            
        }
    }

    .przygotowanie-img {
        width:30%;
        margin-top:110px;
        margin-left:-5%;
        padding-bottom:15px;

        @media (max-width:991px) {
            margin-top:80px;
            
        }
        
    }
}

.przygotowanie-content {
    background-color: white;
    color: #000000;
    display: flex;
    width:80%;
    margin:auto;
    margin-bottom:5%;
    padding-top:5%;

    @media (max-width:991px) {
        display:block;
    }

    .przygotowanie-content-image {
        
        width:50%;

        @media (max-width:991px) {
            width:100%;
        }

        img {
            max-width:680px;
            width:100%;

            
        }
    }

    .przygotowanie-content-text {
        font-size: 14px;
        width: 50%;
        line-height: 19px;
        margin-left:1%;

        @media (max-width:991px) {
            width:100%;
            text-align: justify;
            margin:0;
            padding-top:20px;
            padding-bottom:20px;
        }

        

        .przygotowanie-content-file {
            
            text-decoration: none;
            
            p {
                padding-top:15px;
                @media (max-width:991px) {
                    text-align:center;
                }
            }
        }
    }
}


// @media only screen and (max-width:1360px) {

//     .przygotowanie-content {
//         display: flex;
//         flex-wrap:wrap;
//         align-content: center;
//         width:80%;
//         margin:auto;

//         .przygotowanie-content-text {
//             width:50%;
            
//             margin: auto;
//             padding-top:1%;
            
//         }

//         .przygotowanie-content-image {
//             margin:auto;
//             padding-bottom:2%;
//             width:50%;
            
//         }

//     }
// }