.quality {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: grey;
    display:flex;
    position: relative;

    .img-quality {
        width:22%;
        margin-top:110px;
        margin-left:-5%;
        padding-bottom:15px;
        
        @media (max-width:991px) {
            margin-top:80px;
            
        }

    }

    .quality-header {
        font-size: 56px;
        font-family: 'Gilroy-Bold';
        width:70%;
        padding-left:2%;
        padding-top:300px;
        text-align: center;

        @media  (max-width:991px) {
            font-size:32px;
            padding-top:50%;
            transform: translateY(-40%);
        }

        @media (max-width:460px) {
            font-size:24px;
            padding-top:50%;
            transform: translateY(-25%);
            
        }

    }
}

.quality-content {
    background-color: white;
    color: #000000;
    display: flex;
    width:80%;
    margin:auto;
    margin-bottom:5%;
    padding-top:5%;

    @media (max-width:991px) {
        display:block;
    }
    

    .quality-content-image {
        width:50%;

        @media (max-width:991px) {
            width:100%;
        }

        img {
            max-width:680px;
            width:100%;
        }
    }

    .quality-content-text {

        padding-bottom: 5%;
        padding-right:30px;

        h3 {
            font-family: 'Gilroy-Bold';
            font-size:32px;
            line-height:1.15;
            
            @media (max-width:991px) {
                text-align: center;
            }
        }

        font-size: 14px;
        width: 50%;
        line-height: 19px;

        @media (max-width:991px) {
            width:100%;
            text-align: justify;
            margin:0;
            padding-top:20px;
            padding-bottom:20px;
        }

        h3 + p {
            padding-top:20px;
        }
        

        .quality-content-file {
            
            text-decoration: none;
            

            p {
                padding-top:15px;
                @media (max-width:991px) {
                    text-align:center;
                }
            }
        }
            
        
     }
}

