@font-face {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: normal;
    src:  url('http://localhost:8000/wp-content/themes/flexible-theme/assets/fonts/Gilroy-Bold.woff') format('woff');
    }

@font-face {
    font-family: 'Gilroy-Light';
    font-style:normal;
    font-weight: normal;
    src: url('http://localhost:8000/wp-content/themes/flexible-theme/assets/fonts/Gilroy-Light.woff') format('woff');
}
* {
    box-sizing: border-box;
}
body {
    color:#ffffff;
    font-family:'Gilroy-Light' !important;
}


    
    