.upgrades {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    display: flex;

    .img-upgrades {
        width:30%;
        margin-top:110px;
        margin-left:-5%;
        padding-bottom:15px;

        @media (max-width:991px) {
            margin-top:80px;
            
        }

    }
    

    .upgrades-header {
        font-size: 56px;
        font-family: 'Gilroy-Bold';
        width:70%;
        padding-left:2%;
        padding-top:300px;

        @media  (max-width:991px) {
            font-size:32px;
            padding-top:50%;
            transform: translateY(-40%);
        }

        @media (max-width:460px) {
            font-size:24px;
            padding-top:50%;
            transform: translateY(-25%);
            
        }
    }
    
}

.upgrades-content {
    background-color: white;
    color: #000000;
    display: flex;
    width:80%;
    margin:auto;
    padding-top:50px;
    padding-bottom:50px;

    @media (max-width:991px) {
        display:block;
    }
    
    
    

    .upgrades-content-image {
        
        padding-bottom:20px;
        
        width:50%;

        @media (max-width:991px) {
            
            width:100%;
            max-width:580px;
            

        }

        img {
            width:100%;
            max-width:680px;

        }
    }

    .upgrades-content-list {
        padding-top:40px;
        width:50%;
        padding-left:2%;

        @media (max-width:991px) {
            padding:0;
            width:100%;
            text-align: justify;
            padding-bottom:20px;
            padding-left:10%;
            padding-right:10%;
        }
        

        li {
            color:#FFB92C;
            list-style: disc;
        }

        li span {
            color:black;
            font-size:24px;
            @media (max-width:1160px) {
                font-size:18px;
            }

            @media (max-width:991px) {
                font-size:16px;
            }
            @media (max-width:460px) {
                font-size:14px;
            }
            
        }

        
    }

}



