@import "~normalize.css/normalize.css";

// $fa-font-path: "~@fortawesome/fontawesome-free/webfonts" !default;
// @import "~@fortawesome/fontawesome-free/scss/fontawesome";
// @import "~@fortawesome/fontawesome-free/scss/regular";
// @import "~@fortawesome/fontawesome-free/scss/solid";
// @import "~@fortawesome/fontawesome-free/scss/brands";

// .fa,.fas,.far,.fal {
//   font-family: "Font Awesome 5 Free";
// }

@import 'reset';
@import 'color';
@import 'typograph';
@import 'navigation';
@import 'page';
@import 'single';
@import 'header';
@import 'footer';
@import 'homepage';
@import 'przygotowanie';
@import 'oprawa';
@import 'about';
@import 'kontakt';
@import 'quality';
@import 'druk';
@import 'upgrades';
@import 'additional';
@import '404';

// style for flexible content
@import './flexible-components/core';


// @media (max-width:991px) {
//     .lang-item {
//         display: inline;
//         padding: 0 20px;
//     }
// }
