/*
	Theme Name: BLUEOWL FLEXIBLE CONTENT THEME
	Theme URI: WP Flexible Content Theme based on ACF PRO wifh webpack
	Description:
	Version: 1.0.0
	Author:
	Author URI: 
*/
@font-face {
font-family: 'Gilroy-Bold';
font-style: normal;
font-weight: normal;
src:  url('http://localhost:8000/wp-content/themes/flexible-theme/assets/fonts/Gilroy-Bold.woff') format('woff');
}

body {
	font-family:'Gilroy-Bold' !important;
}